/* Components : biere */


.biere {
    display: flex;
}

.biere__image,
.biere__infos {
    width: 50%;
}

.biere__image {
    height: 100%;
    position: sticky;
    top: 0;
}

.biere__commentaires {
    counter-reset: comment-counter;
    margin-top: var(--space-xsmall);
}

.biere__commentaires p {
    padding-left: 26px;
    position: relative;
}

.biere__commentaires p::before {
    counter-increment: comment-counter;
    content: counter(comment-counter) " - ";
    left: 0;
    position: absolute;
    top: 0;
}

.biere__commentaires small {
    display: block;
    margin-top: var(--space-base);
}

.biere__commentaires p + p {
    margin-top: var(--space-xsmall);
}